
body{
    background-color: #119DA4;
}

.vintage_bc_color{
    opacity: .7;
    background-color: transparent;
    color: #fff;
}

.vintage_logo{
    font-size: 5vh;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    font-family: 'Marck Script', cursive;
}

h1{
    font-size: 8vh;
    font-family: 'Marck Script', cursive;
    text-align: center;
    color: #D7D9CE;
}

/*primero*/

.cont_nosotros{
    background-color: #119DA4;
}

.cont_parrafo1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 3vh;
    color: #D7D9CE;
}

.index_footwear1{
    width: 100%;
    height: 100%;
}

/*segundo*/

.cont_caracteristicas{
    background-color: #13505B;
    padding: 2vh;
}

.cont_segundo{
    background-color:#13505B ;
    color: rgb(218,210,216);
}

/*tercero*/

.titulo{
    padding: 2vh;
    color: #D7D9CE;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
}

.cont_tabla{
    text-align: right;
}

.img_parrafo1{
    width: 100%;
    height: 100%;
}

.img_parrafo2{
    width: 100%;
    height: 100%;
}

.cont_parrafo3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 3vh;
    color: #D7D9CE;
}


.footer{
    background-color: #0F8B8D; 
}

.barra_footer{
    text-align: center;
}

.nombres_footer{
    padding-top: 1.5vh;
}


.copyright_footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.logoface{
    height: 5vh;
}

.logoyou{
    height: 4vh;
}


